.action-btn-wrapper > a, .action-btn-wrapper form {
  display: inline-block;
  float: left;
  padding-left: 5px; }

.dropzone {
  border: 5px dotted #e5e5e5 !important; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  font-size: 1.5em; }

.file-manager-body-ul > li {
  list-style: none;
  width: 150px;
  height: 150px;
  float: left;
  padding: 6px;
  margin: 2px; }
  .file-manager-body-ul > li > img {
    max-width: 100%;
    max-height: 100%; }
  .file-manager-body-ul > li :hover {
    cursor: pointer; }

.file-manager-body-ul .active {
  background-color: #2F6F9F; }

.widget_slide_row_wrapper {
  background-color: #a6e1ec; }

.slide_child_row, .widget_slide_row {
  padding-top: 15px;
  padding-bottom: 15px; }

.slide_child_row:nth-child(odd), .widget_slide_row:nth-child(odd) {
  background-color: #eef7f9; }

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px; }
  .dd .dd-list {
    display: inherit; }
    .dd .dd-list .dd-item {
      display: inherit; }
      .dd .dd-list .dd-item .dd-handle {
        display: inherit;
        background-color: lightgray;
        padding: 5px;
        margin-bottom: 5px;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 5px; }
      .dd .dd-list .dd-item :hover {
        color: #7f7f7f;
        background-color: #ffffff;
        cursor: pointer; }
      .dd .dd-list .dd-item > button {
        display: block;
        position: relative;
        cursor: pointer;
        float: left;
        width: 25px;
        height: 20px;
        margin: 5px 0;
        padding: 0;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border: 0;
        background: transparent;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        font-weight: bold; }
      .dd .dd-list .dd-item > button:before {
        content: '+';
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        text-indent: 0; }
      .dd .dd-list .dd-item > button[data-action="collapse"]:before {
        content: '-'; }

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px; }

.dd-collapsed .dd-list {
  display: none; }

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px; }

.edit_child {
  padding: 6px;
  display: inline-block;
  float: right;
  overflow: hidden; }

/*# sourceMappingURL=admin_customize.css.map */
