
@mixin action-btn(){
  display: inline-block;
  float: left;
  padding-left: 5px;
}
.action-btn-wrapper {
    > a, form {
      @include action-btn()
    }
}

.dropzone {
  border: 5px dotted #e5e5e5 !important;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  font-size: 1.5em;
}

.file-manager-body-ul {
  > li {
    list-style: none;
    width: 150px;
    height: 150px;
    float: left;
    padding: 6px;
    margin: 2px;
    > img {
      max-width: 100%;
      max-height: 100%;
    }
    :hover {
      cursor: pointer;
    }
  }
  .active {
    background-color: #2F6F9F;
  }
}

.slide_child_row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.slide_child_row:nth-child(odd) {
  background-color: #eef7f9;
}
// DD
.dd {
  display: block;
  .dd-list{
    display: inherit;
    .dd-item {
      display: inherit;
      .dd-handle{
        display: inherit;
        background-color: lightblue;
        padding:3px;
        margin-bottom: 5px;
      }
      > button { display: block;
        position: relative;
        cursor: pointer;
        float: left;
        width: 25px;
        height: 20px;
        margin: 5px 0;
        padding: 0;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border: 0;
        background: transparent;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        font-weight: bold;
      }
      > button:before {
        content: '+';
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        text-indent: 0;
      }
      > button[data-action="collapse"]:before {
        content: '-';
      }
    }
  }
}