
@mixin action-btn(){
  display: inline-block;
  float: left;
  padding-left: 5px;
}
.action-btn-wrapper {
    > a, form {
      @include action-btn()
    }
}

.dropzone {
  border: 5px dotted #e5e5e5 !important;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  font-size: 1.5em;
}

.file-manager-body-ul {
  > li {
    list-style: none;
    width: 150px;
    height: 150px;
    float: left;
    padding: 6px;
    margin: 2px;
    > img {
      max-width: 100%;
      max-height: 100%;
    }
    :hover {
      cursor: pointer;
    }
  }
  .active {
    background-color: #2F6F9F;
  }
}