// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.site-header {
  background:none;
}
#primary_menu {
  border: none;
  > ul.navbar-nav {
    > li > a {
      font-size: 14px;
      color: white;
      padding: 1.8em 1.4em;
      min-width: 130px;
      text-align: center;
      i {
        font-size: 5px;
        color: inherit;
        position: relative;
        right: 5px;
        top: -2px;
      }
    }

    >li.active > a{
      background:none;
      color: #37c6f5;
      //background: url(../vendors/web_template/images/active-state.png) no-repeat;
      //background-position: center 65px;
    }
  }

}
/////////////
.navbar-header {
  background-color: #37c6f5;
  height: 70px;
  margin-left: -15px !important;
  padding-left: 15px;
}
.navbar-inverse {
  border:none;
}
.navbar-brand {
  margin-top:-7px;
  /*img {
    height: 65px;
    width: 175px;
  }*/
}

/*#bx-pager {
  img {
    max-width: 150px;
    max-height: 150px;
  }
}*/
.footer-nav {
  ul.nav {
     li {
       a:hover {
         background: none;
         color: #222;
       }
     }
  }
  .navbar-toggle{
    border-color: aliceblue;
    .icon-bar {
      background-color: #fff;
    }
  }

}
.site-footer {
  padding-bottom: 0;
  section {
    background-color: #55c58f;
    padding-top: 15px;
    padding-bottom: 25px;
    border-top: 1px solid #2ea25f;
  }
  span {
    margin-top: auto;
  }
}
///////////////
.product-item {
  margin-bottom: 25px;
  .item-thumb {
    .overlay {
      border: 5px solid;
      color: white;

    }
    .feature-image {
      border-bottom: 8px solid transparent;
    }
  }
  .item-thumb:hover .overlay {
     opacity:.95;
  }
}
@media (min-width: 992px) {
  .item-thumb {
    height: 450px;
  }
}
/////////////
.article {
  header {
    color: white;
    padding: 15px;
    .feature-image {
      display: block;
      margin-bottom: 10px;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
  }
}
.widget-item {
  padding:15px 0;
  margin-bottom: 10px;
  display: block;
  float: left;
}
.widget-item:first-child {
  margin-top:10px;
}

.article_list_view {
  padding-top: 15px;
  padding-bottom: 15px;
}
  /////////////
.feature_slide {
  padding: 15px 0px;
  .carousel-inner {
    height: 300px;
    overflow: hidden;
    .item{
      height: inherit;
      img {
        height: inherit;
      }
    }
  }
  .carousel-control {
    background: none;
  }
  @media screen and (min-width:677px) {
    .caption {
      margin-left: -15px;
    }
  }
}

// From Options.co.uk
.supercat {
  margin-top: 10px;
}
.supercattitle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  display: table;
  background-color: #2ea25f;
  a {
    font-size: 20px;
    color: white;
    font-family: 'ralewayregular';
    text-decoration: none;
    line-height: 1.2;
    height: 200px;
    vertical-align: middle;
    width: 200px;
    display: table-cell;
    padding: 0 30px;
  }
}
//Feature
.feature {
  .feature-item {
    .circle {
      margin: 0 auto;
      width: 160px;
      height: 160px;
      border: 5px solid #f3f3f3;
      border-radius: 100%;
      text-align: center;
      margin-bottom: 40px;
      color: #1da4dd;
      font-size: 57px;
      line-height: 148px;
      vertical-align: middle;
      -webkit-transform: scale(1,1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1,1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
      i {
        //font-size: 5em;
      }
    }
    .circle:hover {
      webkit-transform: scale(1.05,1.07);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1.05,1.07);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
      background-color: #1da4dd;
      color: #fff;
    }
    strong {
      font-size: 1.3em;
    }
    strong, >div {
      text-align: center;
      display: block;
    }

  }
}

// Portfolio
//@import "portfolio";

@import "duplicate_style";


section {
  padding-top: 5em;
  padding-bottom: 2em;
}

@import "blog";
@import "margin";
@import "price_list";