// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#primary_menu {
  > ul.navbar-nav {
    > li > a {
      font-weight: 600;
      font-size: 18px;
      color: white;
      padding: 40px 15px;
      min-width: 150px;
      text-align: center;
    }
    >li.active > a{
      background: url(../vendors/web_template/images/active-state.png) no-repeat;
      background-position: center 65px;
    }
  }

}
/////////////
.navbar-brand {
  img {
    height: 51px;
    width: 175px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

#bx-pager {
  img {
    max-width: 150px;
    max-height: 150px;
  }
}
.footer-nav {
  ul.nav {
     li {
       a:hover {
         background: none;
         color: #222;
       }
     }
  }
  .navbar-toggle{
    border-color: aliceblue;
    .icon-bar {
      background-color: #fff;
    }
  }

}
.site-footer {
  padding-bottom: 0;
  section {
    background-color: #55c58f;
    padding-top: 15px;
    padding-bottom: 25px;
    border-top: 1px solid #2ea25f;
  }
  span {
    margin-top: auto;
  }
}
///////////////
.product-item {
  margin-bottom: 25px;
  .item-thumb {
    .overlay {
      border: 5px solid;
      color: white;

    }
    .feature-image {
      border-bottom: 8px solid transparent;
    }
  }
  .item-thumb:hover .overlay {
     opacity:.95;
  }
}
@media (min-width: 992px) {
  .item-thumb {
    height: 450px;
  }
}
/////////////
.article {
  header {
    color: white;
    padding: 15px;
    .feature-image {
      display: block;
      margin-bottom: 10px;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
  }
}
.widget-item {
  padding:15px 0;
  margin-bottom: 10px;
  display: block;
  float: left;
}
.widget-item:first-child {
  margin-top:10px;
}

.article_list_view {
  padding-top: 15px;
  padding-bottom: 15px;
}
  /////////////
.feature_slide {
  padding: 15px 0px;
  .carousel-inner {
    height: 300px;
    overflow: hidden;
    .item{
      height: inherit;
      img {
        height: inherit;
      }
    }
  }
  .carousel-control {
    background: none;
  }
  @media screen and (min-width:677px) {
    .caption {
      margin-left: -15px;
    }
  }
}