// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.navbar-brand {
  img {
    height: 51px;
    width: 175px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

#bx-pager {
  img {
    max-width: 150px;
    max-height: 150px;
  }
}
.footer-nav {
  ul.nav {
     li {
       a:hover {
         background: none;
         color: #222;
       }
     }
  }
  .navbar-toggle{
    border-color: aliceblue;
    .icon-bar {
      background-color: #fff;
    }
  }

}
.site-footer {
  padding-bottom: 0;
  section {
    background-color: #55c58f;
    padding-top: 15px;
    padding-bottom: 25px;
    border-top: 1px solid #2ea25f;
  }
  span {
    margin-top: auto;
  }
}
///////////////
.product-item {
  margin-bottom: 25px;
  .item-thumb {
    .overlay {
      border: 5px solid;
      color: white;

    }
    .feature-image {
      border-bottom: 8px solid transparent;
    }
  }
  .item-thumb:hover .overlay {
     opacity:.95;
  }
}
@media (min-width: 992px) {
  .item-thumb {
    height: 450px;
  }
}